/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'Open Sans', sans-serif;

}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header{
	background:#fff;
	padding:1em 0em;
}
.header-top {
	padding: 1em 0 1em;
	border-bottom: 1px solid #555555;
}
.header-left {
	float: right;
	padding: 1em 0 0;
}
.header-right {
	float: left;
	width:21%;
}
.header-left ul{
	padding:0;
	margin:0;
}
.header-left ul li {
	display: inline-block;
}
.header-left ul li a{
	font-size: 1.2em;
	font-weight: 300;
	padding: 0.5em 0.8em;
	color: #555555;
	text-decoration:none;
}
.header-left ul li a:hover,.head-left ul li.active a{
	color:#ff7200;
}
.header-bottom {
	padding: 2em 0;
	text-align:center;
}
.head-nav ul li a {
	color: #6C6C6C;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: 400;
	margin: 0px 20px 0px 20px;
	display: block;
	padding: 0.6em 0.3em;
}
.head-nav ul li a:hover, .head-nav ul li.active a {
	border-bottom: 1px solid #6C6C6C;
	border-top: 1px solid #6C6C6C;
	color: #ff0000;
}
.head-nav {
	padding: 2em 0em 0;
}
.head-nav ul li{
	display: inline-block;
}
.head-nav ul{
	padding:0;
	margin: 0;
}
/*--start-search--*/
.search2 {
	position: relative;
	background: none;
	padding: 8px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	border: 1px solid #6a737b;
}
.search2 input[type="text"] {
	outline: none;
	color: #555;
	background: none;
	font-size: 15px;
	border: none;
	width: 79.33%;
}
.search2 input[type="submit"] {
	background: url('../images/sprit-1.png') no-repeat 5px 2px;
	padding: 12.3px 22px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 0px;
	right: 0px;
}
.banner{
	background:url(../images/banner.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:700px;
	text-align:left;
}
.banner-info {
	padding: 14em 0;
	width: 72%;
	margin: 0 auto;
}
.banner-info h1 {
	color: #fff;
	font-size: 3.5em;
	font-weight: 700;
	margin: 1em 0em;
	text-align:right;
}
span {
	color: #ff7200;
}
.banner-info p {
	font-size: 1.2em;
	color: #fff;
	font-weight: 600;
	line-height: 1.8em;
	text-align:right;
}

/* Filter controls */
.simplefilter ul {
	margin: 0 inherit;
}

.simplefilter li, .multifilter li, .sortandshuffle li {
	margin: 0;
	color: white;
	width: 100%;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	padding: 1rem 2rem;
}

.simplefilter li {
	background-color: #585858;
}
.simplefilter li.active {
	background-color: #212121;
}
.multifilter li {
	background-color: #4b9eff;
}
.multifilter li.active {
	background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
	padding: 1rem 1rem;
	text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
	background-color: #dec800;
}
.sortandshuffle .sort-btn {
	background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
	background-color: #9d0000;
}

/* Search control */
.search-row {

}
.filtr-search {
	padding: 0.5rem;
	text-transform: uppercase;
}

/* Date picker */
.datepicker {
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;
	/*.dow {
          border-top: 1px solid #ddd !important;
      }*/

}
.datepicker-inline {
	width: 220px;
}
.datepicker.datepicker-rtl {
	direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
	float: right;
}
.datepicker-dropdown {
	top: 0;
	left: 0;
}
.datepicker-dropdown:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker-dropdown:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {
	display: none;
}
.datepicker.days div.datepicker-days {
	display: block;
}
.datepicker.months div.datepicker-months {
	display: block;
}
.datepicker.years div.datepicker-years {
	display: block;
}
.datepicker table {
	margin: 0;
}
.datepicker td,
.datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
	background-color: transparent;
}
.datepicker table tr td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
	color: #999999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	background: none;
	color: #999999;
	cursor: default;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
	background-color: #fde19a;
	background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(top, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
	background-color: #fdf59a;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
	background-color: #fbf069 \9;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
	background-color: #0044cc;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
	background-color: #003399 \9;
}
.datepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker table tr td span:hover {
	background: #eeeeee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
	background: none;
	color: #999999;
	cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
	background-color: #0044cc;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
	background-color: #003399 \9;
}
.datepicker table tr td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker thead tr:first-child th,
.datepicker tfoot tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr:first-child th:hover {
	background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}



/* Range filter */
/* Variables */
/* Colors */
/* Sizes */
/* line 1, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider {
	display: block;
	box-sizing: border-box; }
/* line 5, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider * {
	box-sizing: border-box; }
/* line 7, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider:not(.addui-slider-isrange) {
	cursor: pointer; }
/* line 11, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track {
	display: block;
	position: relative;
	background: rgba(0, 0, 0, 0.38);
	border-radius: 4px; }
/* line 17, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-range {
	display: block;
	background: #3f51b5;
	border-radius: 4px;
	position: absolute; }
/* line 24, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle {
	display: block;
	width: 50px;
	height: 50px;
	background: rgba(63, 81, 181, 0);
	box-shadow: 0 0 5px rgba(63, 81, 181, 0);
	position: absolute;
	border-radius: 50px;
	cursor: pointer;
	transition: background 1s, box-shadow 1s;
	z-index: 0; }
/* line 36, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value {
	display: block;
	float: right;
	background: rgba(63, 81, 181, 0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 0px;
	color: white;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s, background 1s, transform 1s, margin 1s, border-radius 1s;
	transform: scale(1, 0) rotate(-135deg);
	transform-style: preserve-3d;
	position: absolute;
	z-index: 1; }
/* line 53, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value span {
	display: block;
	transform: rotate(135deg);
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	position: absolute;
	z-index: 1; }
/* line 65, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle:hover {
	box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); }
/* line 68, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle:hover .addui-slider-value {
	background: rgba(63, 81, 181, 0.5);
	opacity: 1;
	transform: scale(1, 1) rotate(-135deg);
	margin-top: -60px;
	border-radius: 0 50% 50% 50%; }
/* line 77, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active {
	background: rgba(63, 81, 181, 0.5);
	box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); }
/* line 81, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active .addui-slider-value {
	background: rgba(63, 81, 181, 0.75);
	opacity: 1;
	transform: scale(1, 1) rotate(-135deg);
	margin-top: -60px;
	border-radius: 0 50% 50% 50%; }
/* line 90, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider .addui-slider-track .addui-slider-handle:after {
	display: block;
	content: " ";
	width: 25px;
	height: 25px;
	background: #3f51b5;
	border-radius: 25px;
	position: relative;
	top: 13px;
	left: 13px; }
/* line 105, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-vertical {
	height: calc(100% - 50px);
	width: 50px;
	margin: 25px 16px; }
/* line 110, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-vertical .addui-slider-track {
	height: 100%;
	width: 4px;
	top: 0;
	left: 23px; }
/* line 116, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-range {
	width: 4px;
	height: auto; }
/* line 121, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-handle {
	left: -24px;
	top: auto;
	transform: translateY(50%); }
/* line 126, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-handle.addui-slider-handle-l {
	z-index: 2; }
/* line 133, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-horizontal {
	height: 50px;
	width: calc(100% - 50px);
	margin: 16px 25px; }
/* line 138, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-horizontal .addui-slider-track {
	height: 4px;
	width: 100%;
	top: 23px;
	left: 0; }
/* line 144, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-horizontal .addui-slider-track .addui-slider-range {
	width: auto;
	height: 4px; }
/* line 149, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider.addui-slider-horizontal .addui-slider-track .addui-slider-handle {
	left: auto;
	top: -24px;
	transform: translateX(-50%); }

/*# sourceMappingURL=addSlider.css.map */



/**** Slider *****/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:40%;
	bottom:35px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:0px;
	height:0px;
	background:#fff51f;
}
.wmuSliderPagination a.wmuActive {
	background:#fb4d01;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:37px;
	height:37px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:35%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderNext {
	background-position:-237px -78px;
	right: 12em;
	top: 37em;
}
.wmuSliderPrev {
	background-position:-175px -78px;
	right: 16em;
	top: 37em;
}
/* -- */
.welcome{
	padding:3em 0em;
	text-align:center;
}
.welcome h2 {
	font-size: 3em;
	font-weight: 600;
	color:#fbb034;
}
.welcome p{
	font-size: 1.2em;
	color: #6a737b;
	line-height:1.8em;
	font-weight:300;
	margin: 1em 0;
}
.curabitur {
	padding: 4em 0;
}
.curabitur-top {
	text-align: center;
}
.curabitur h4 {
	font-size: 1.6em;
	color: #6a737b;
	font-weight: 700;
	margin: 1em 0 0;
}
.curabitur p {
	font-size: 1.2em;
	color: #6a737b;
	line-height:1.8em;
	font-weight:300;
	margin: 1em 0;
}
i.hammer {
	width: 88px;
	height: 70px;
	background: url(../images/img-sprite.png)no-repeat 6px 1px;
	display: inline-block;
}
i.timer {
	width: 88px;
	height: 70px;
	background: url(../images/img-sprite.png)no-repeat -64px 1px;
	display: inline-block;
}
i.tent {
	width: 88px;
	height: 70px;
	background: url(../images/img-sprite.png)no-repeat -155px 1px;
	display: inline-block;
}
a.go {
	background: #6a737b;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0.5em 3em;
	display:inline-block;
}
a.go:hover{
	background: #fbb034;
}
.vide{
	background:#e9e8dd;
	padding:3em 0;
}
.vide-right {
	padding: 2em 0;
	position:relative;
}
.vide h3 {
	font-size: 2em;
	color: #6a737b;
	font-weight: 700;
	margin: 1em 0 0;
}
.vide h6 {
	font-size: 1.2em;
	color: #6a737b;
	font-weight: 700;
	margin: 1em 0 0;
}
.vide p {
	font-size: 1.2em;
	color: #6a737b;
	line-height:1.8em;
	font-weight:300;
	margin: 1em 0;
}
a.play-icon span {
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../images/play.png) no-repeat 2px 2px;
	position: absolute;
	top: 9.5em;
	right: 12.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.events{
	padding:4em 0;
}
.events h2 {
	font-size: 3em;
	font-weight: 600;
	color: #fbb034;
	text-align:center;
	margin-bottom: 1.5em;
}
.events-left {
	float: left;
	width: 20%;
	background:#fbb034;
	text-align: center;
	padding:1em 0;
	border-radius: 0.5em;
}
.events-right{
	float:right;
	width:74%;
}
.events h5 {
	font-size: 2.5em;
	font-weight: 600;
	color: #fff;
	text-align:center;
	margin:0;
}
.events span{
	font-size: 1.2em;
	font-weight: 300;
	color: #fff;
	text-align:center;
}
.events h6 {
	font-size: 1.4em;
	font-weight: 400;
	color: #212121;
	text-align:left;
	margin:0;
}
.events p {
	font-size: 1em;
	color: #6a737b;
	line-height:1.5em;
	font-weight:300;
	margin: 1em 0;
}
.events-bottom {
	margin: 2em 0 0;
}
.footer h4 {
	color: #fff;
	font-size: 2em;
	font-weight: 400;
	margin: 0em;
	padding: 0 0 30px;
}
.footer{
	background-color: #444444;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 440px;
	padding:10em 0 2em;
}
.nav-bottom ul{
	padding:0;
}
.nav-bottom ul li {
	display: block;
	padding: 0.2em 0;
	font-size: 1.2em;
}
.nav-bottom ul li  a{
	color:#fff;
	text-decoration:none;
}
.nav-bottom ul li  a:hover{
	color:#fbb034;
}
.social ul {
	padding: 0;
	margin: 0;
}
.social ul  li{
	display:inline-block;
	padding:0 0.5em;
}
i.facebok {
	width: 36px;
	height: 36px;
	background: url(../images/img-sprite.png)no-repeat -11px -78px;
	float: left;
	vertical-align: middle;
}
i.facebok:hover{
	background: url(../images/img-sprite.png)no-repeat -11px -118px;
}
i.twiter{
	width: 36px;
	height: 36px;
	background: url(../images/img-sprite.png)no-repeat -109px -79px;
	float: left;
	vertical-align: middle;
}
i.twiter:hover{
	background: url(../images/img-sprite.png)no-repeat -109px -119px;
}
i.rss{
	width: 36px;
	height: 36px;
	background: url(../images/img-sprite.png)no-repeat -60px -78px;
	float: left;
	vertical-align: middle;
}
i.rss:hover{
	background: url(../images/img-sprite.png)no-repeat -60px -118px;
}
.footer p{
	color: #fff;
	font-size: 1.1em;
	line-height: 1.8em;
}
.bottom p{
	text-align:center;
}
.bottom p{
	color: #fff;
	font-size: 1.1em;
	line-height: 1.8em;
}
.bottom a {
	color: #fbb034;
}
.bottom a:hover{
	color: #fff;
}
.email-top ul {
	padding: 0em;
}
.email-top ul li {
	display: inline-block;
	padding-right: 0.5em;
	color: #fff;
}
.email-top {
	margin-top: 2em;
}
.email-top form input[type="text"] {
	width: 100%;
	color: #fff;
	background: url(../images/mail.png)no-repeat 13px 11px;
	outline: none;
	font-size: 16px;
	padding: .5em 0.5em 0.5em 3em;
	border: 1px solid #fff;
	-webkit-appearance: none;
}
.bottom {
	margin: 2em 0 0;
}
/*-- button --*/
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	padding: 0.5em 1.8em;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:0px !important;
	text-decoration: none;
	font-size: 1em;
	border: 2px solid #6a737b;
	font-weight: 600;
	color: #3eb0ff;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background:#6a737b;
}
.btn-1c:hover,
.btn-1c:active {
	color: #fff;
}
.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}
/*----*/
.btn1 {
	background: #6a737b;
	color: #fff;
	z-index: 1;
	padding: 0.5em 1.8em;
	font-size: 1em;
}
.btn-1d:after {
	border:1px solid #6a737b;
	background: #fff ;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
}
.btn-1d:hover,
.btn-1d:active {
	color: #6a737b;
}
/*-- news --*/
.news{
	padding:2em 0;
}
.news h3 {
	font-size: 2em;
	margin: 0;
	color: #fbb034;
	font-weight: 600;
	text-align: left;
}
.news-grid-text span{
	color: #0070C6;
	font-size: 14px;
	line-height: 1.7em;
	font-weight: 700;
}
.news-grid-text h4{
	font-size: 18px;
	margin: 0;
	color: #fbb034;
	font-weight: 600;
	text-transform: uppercase;
}
.news-grid-text {
	margin-bottom: 1em;
}
.news-grid img{
	width:100%;
}
.news-grid p {
	color: #8c8c8c;
	font-size: 15px;
	line-height: 1.8em;
	margin: .5em 0 0 0;
}
.news-grids {
	margin-top: 3em;
}
.news-grid {
	margin: 0 0 1em 0;
}
.blue {
	margin-top: 1em;
	text-align: left;
}
.blue a{
	background: none;
	color:#fbb034;
	font-size: 18px;
	padding: 0;
}
.blue a:hover{
	background:none;
	color: #6a737b;
}
.news-slid{
	background: url(../images/) no-repeat 0px -157px;
	min-height: 400px;
	background-size: cover;
}
.news-slid-info{
	text-align: center;
	left: 30%;
	top: 42%;
	margin: 10em 0 0 0;
}
.news-slid-info h2{
	color: #FFF;
	font-size: 36px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}
.gray{
	margin:4em 0;
}
.gray a{
	font-size: 20px;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:100px;
	text-align:left;
}
.main {
	padding: 5em 0 5em;
}
.main h2 {
	font-size: 2.5em;
	color: #fbb034;
	font-weight: 400;
	margin: 0;
}
/*--about--*/
.view.effect {
	padding: 0.5em 0;
}
.about-bottom {
	padding: 3em 0 0;
}
.about h4{
	margin: 0 0 1em;
	font-size: 2em;
	color: #ff0000;
}
.about-grid h6 {
	font-size: 1.2em;
	line-height: 1.8em;
}
.about-grid h6 a{
	color:#000;
	text-decoration:none;
}
.about-grid h6 a:hover{
	color:#e52a49;
}
.about-grid p {
	margin: 1em 0;
	color: #9A9898;
	font-size: 1.2em;
	line-height: 1.8em;
}
.about-top h3{
	font-size: 2.5em;
	color: #000;
	text-transform: uppercase;
	border-bottom: 1px solid #EEE;
	display: inline-block;
	padding: 0 0 0.3em 0;
	margin: 0 0 0.5em 0;
}
.about-top p{
	color:#777;
	font-style:italic;
	font-size: 1em;
}
.about-top {
	text-align: center;
}
/*----*/
.event-in{
	padding:1em;
}
.events-grid {
	padding: 2em 0 3em;
}
.event-top h3{
	font-size: 2.5em;
	color: #000;
	text-transform: uppercase;
	border-bottom: 1px solid #EEE;
	display: inline-block;
	padding: 0 0 0.3em 0;
	margin: 0 0 0.5em 0;
}
.event-top p{
	color:#777;
	font-style:italic;
	font-size: 1em;
}
.event-top {
	text-align: center;
}
/*----*/
.events {
	padding: 4em 0;
}
/*-- portfolio --*/
.service-section {
	margin: 2em 0em 4em;
	position:relative;
}
.service-section h2{
	font-size:3em;
	font-weight:400;
	color:#6F7173;
	margin:1em 0em;
	text-align:center;
}
.portfolio  p{
	color: #979797;
	font-weight: 400;
	font-size: 1.1em;
	text-align:left;
	line-height:1.5em;
	margin:1em 0em;
}
.portfolio  h3{
	color: #5094F2;
	font-weight: 400;
	font-size: 1.5em;
	text-align:left;
	margin:1em 0em;
}
.service{
	padding:2em 2em;
}
.servic {
	margin: 3em 0em;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 33.333%;
	display:none;
	float:left;
	overflow:hidden;
	margin: 0;
}
div#portfoliolist {
	padding: 0px 0px;
	margin:2em 0em;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
	margin:1em 1em;
}
.portfolio img {
	width:100%;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after,
.clearfix:after {
	clear: both;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	display: block;
	left: 0;
	top: -152px;
	width: 290px;
	height: 219px;
	background: url(../images/zoom.png) center center no-repeat rgba(236, 173, 68, 0.74);
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
	top: -50px;
	width:100%;
	height: 236px;
}
.grid_box a:hover .zoom-icon {
	top: 0;
	opacity: 1;
	filter: alpha(opacity=99);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
	margin-bottom:3em;
}
/************* Contact ********/
.contact_desc{
	padding:50px 0;
	background:#FFF;
}
.contact_desc h2{
	color:#373737;
	margin:5px 0 15px 0;
	font-size:1.5em;
	text-transform:uppercase;
}
.contact-form{
	position:relative;
	padding-bottom:10px;
}
.left_form{
	float:left;
	width:48%;
}
.right_form{
	float:left;
	width:48%;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.85em;
	color:#888;
	padding-bottom:5px;
	margin-right:2em;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:10px;
	display:block;
	width:100%;
	background:none;
	border:1px solid #fbb034;
	outline:none;
	color:#C5C5C5;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:105px;
}
.contact-form input[type="text"]:hover,.contact-form input[type="text"]:focus,.contact-form textarea:hover,.contact-form textarea:focus{
	border-color:#C5C5C5;
}
.myButton{
	background:#fbb034;
	color: #FFF;
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.34);
	font-size:1em;
	padding:10px 20px;
	border:none;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	-webkit-appearance:none;
	float:right;
}
.myButton:hover{
	background:#2C3E50;
}
.company_address{
	float:left;
	width:25%;
}
.company_address p{
	color:#888;
	font-size:0.85em;
	padding:5px 0;
}
.company_address p span a{
	text-decoration:underline;
	color:#CCC;
}
.company_address p span a:hover{
	text-decoration:none;
	color:#fbb034;
}
.contact_info{
	float:right;
	width:70%;
	margin-left:5%;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height:210px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.contact-data h2 {
	color: #fbb034;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 0;
	font-weight: 600;
	border-bottom: 1px solid rgba(245, 238, 243, 0.15);
	margin:0;
}
.contact-data {
	padding: 5em 0;
}
/*---plans-404page-----*/
.error-page{
	text-align:center;
}
.error-page p{
	font-size: 4em;
	color: #012231;
}
.error-page h3{
	font-size: 10em;
	color:#fbb034;
}
.error-page {
	padding: 130px 0px 0 0;
	min-height: 550px;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color: #ff0000;;
	font-size: 1.2em;
	padding-bottom: 0.5em;
	font-weight:600;
}
.login-left p, .login-right p {
	color: #868583;
	display: block;
	font-size: 1em;
	margin: 0 0 2em 0;
	line-height: 1.8em;
}
.acount-btn {
	background: #ff0000;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#6a737b;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 0 0;
}
.login-right span {
	color: #999;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"], .login-right input[type="password"], .login-right input[type="email"] {
	border: 1px solid #EEE;
	outline-color:#FF6392;
	width: 96%;
	font-size:1em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #ff0000;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-page {
	padding: 5em 0;
}
/*--register--*/
.register{
	padding:4em 0 5em 0;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#ff0000;
	font-size: 1.2em;
	padding-bottom: 15px;
	margin: 0;
	font-weight: 600;
	padding-top: 60px;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size: 0.85em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
span.error{
	visibility: hidden;
	color: red;
}
.register-top-grid input[type="text"], .register-top-grid input[type="number"], .register-top-grid input[type="tel"], .register-bottom-grid input[type="text"], .register-bottom-grid input[type="password"], .register-top-grid input[type="password"], .register-top-grid input[type="email"], .register-top-grid select {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	position: relative;
	font-size: 0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
	padding-right: 330px;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #ff0000;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but input[type="submit"] {
	background: #ff0000;
	color: #FFF;
	font-size: 1.2em;
	padding: 0.6em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border: none;
	outline: none;
}
.register-but input[type="submit"]:hover {
	background:#6a737b;
}
div.register-bottom-grid {
	margin-top: 350px;
}
/*--responsive design--*/
@media (max-width:1280px){
	.banner-info {
		padding: 12em 0;
	}
	.header-bottom {
		padding: 1.3em 0;
	}
	.footer {
		background-color: #444444;
		min-height: 440px;
		padding: 10em 0 2em;
	}
}
/*--responsive design--*/
@media (max-width:1024px){
	.header-bottom {
		padding: 1em 0;
	}
	.header {
		padding: 0.5em 0em;
	}
	.banner-info h1 {
		font-size: 2.5em;
	}
	.banner-info {
		padding: 10em 0;
		width:88%;
	}
	.wmuSliderPrev {
		top: 26em;
	}
	.wmuSliderNext {
		top: 26em;
	}
	.banner {
		min-height: 478px;
	}
	.curabitur h4 {
		font-size: 1.4em;
	}
	.curabitur p {
		font-size: 1.1em;
	}
	.welcome h2 {
		font-size: 2.5em;
	}
	.welcome {
		padding: 0em 0em 3em;
	}
	.welcome p {
		font-size: 1.1em;
	}
	.vide h3 {
		font-size: 1.7em;
	}
	.vide h6 {
		font-size: 1.1em;
	}
	.vide p {
		font-size: 1.1em;
	}
	a.play-icon span {
		top: 8em;
		right: 9.5em;
	}
	.vide-right {
		padding: 3em 0;
	}
	.events h2 {
		font-size: 2.5em;
	}
	.events h5 {
		font-size: 2em;
	}
	.events span {
		font-size: 1.1em;
	}
	.events-right {
		width: 77%;
	}
	.events-left {
		width: 19%;
		padding: 0.7em 0;
	}
	.events h6 {
		font-size: 1.2em;
	}
	.events p {
		font-size: 0.875em;
	}
	.footer h4 {
		font-size: 1.7em;
	}
	.nav-bottom ul li {
		font-size: 1.1em;
	}
	.footer p {
		font-size: 1em;
	}
	.footer {
		background-color: #444444;
		min-height: 380px;
		padding: 7em 0 1em;
	}
	.news h3 {
		font-size: 1.7em;
	}
	.news-grid-text h4 {
		font-size: 16px;
	}
	.news-grid-text span {
		font-size: 13px;
	}
	.news-grid p {
		font-size: 14px;
	}
	.blue a {
		font-size: 17px;
	}
	.main {
		padding: 5em 0 2em;
	}
	.main h2 {
		font-size: 1.7em;
	}
	.grid_box .zoom-icon {
		height: 192px;
	}
	.error-page p {
		font-size: 3em;
	}
	.error-page h3 {
		font-size: 8em;
	}
	a.go {
		font-size: 1.3em;
		padding: 0.5em 3em;
	}
	.error-page {
		padding: 50px 0px 0 0;
		min-height: 370px;
	}
	.contact-data h2 {
		font-size: 18px;
	}
	.contact-data {
		padding: 3em 0;
	}
	.about h4 {
		font-size: 1.7em;
	}
	.about-grid h6 {
		font-size: 1.1em;
		line-height: 1.8em;
	}
	.about-grid p {
		font-size: 0.9em;
	}
}
/*-- responsive-mediaquries --*/
@media(max-width:768px){
	.head-nav ul li{
		display:block;
		float:none;
	}
	.head-nav ul li a{
		border-right:none;
		color:#fff;
	}
	.head-nav ul{
		position: absolute;
		margin: 0;
		padding: 2% 0;
		z-index: 999;
		width: 92%;
		display: none;
		text-align: center;
		background:rgba(25, 57, 82, 0.67);
		left:2em;
		top:5.5em;
	}
	.head-nav span.menu {
		display: block;
		background: none;
		position: absolute;
		top: 28px;
	}
	.head-nav span.menu:before{
		content:url(../images/menu.png);
		color:#FFF;
		font-size:1.3em;
		text-transform:uppercase;
		text-align:right;
		cursor:pointer;
	}
	.banner-info h1 {
		font-size: 1.8em;
		text-align:center;
	}
	.banner-info p {
		font-size: 1.1em;
		text-align:center;
	}
	.banner-info {
		padding: 6em 0;
		width: 100%;
	}
	.wmuSliderPrev {
		top: 19em;
	}
	.wmuSliderNext {
		top: 19em;
	}
	.banner {
		min-height: 350px;
	}
	.curabitur {
		padding: 2em 0;
	}
	.curabitur h4 {
		font-size: 1.3em;
	}
	.curabitur-top {
		margin-bottom: 1.5em;
	}
	.welcome h2 {
		font-size: 2em;
	}
	.vide {
		padding: 1em 0;
		text-align: center;
	}
	.vide h3 {
		font-size: 1.5em;
	}
	.vide h6 {
		font-size: 1em;
	}
	.vide p {
		font-size: 1em;
	}
	.welcome p {
		font-size: 1em;
	}
	.curabitur p {
		font-size: 1em;
	}
	a.play-icon span {
		top: 8em;
		right: 24em;
	}
	.vide-right {
		padding: 1em 0;
	}
	.events {
		padding: 2em 0;
		text-align: center;
	}
	.events h2 {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	.events-bottom {
		margin: 2em auto;
		width: 51%;
	}
	.footer {
		padding: 3em 0 1em;
		text-align: center;
		background-color: #444444;
		background-size:cover;
	}
	.footer h4 {
		font-size: 1.5em;
		padding: 0 0 16px;
	}
	.email {
		text-align: left;
		margin: 1em 0;
	}
	.conta {
		text-align: left;
		margin: 2em 0;
	}
	.information {
		text-align: left;
		margin: 2em 0;
	}
	.keep {
		text-align: left;
		margin: 2em 0;
	}
	.email-top {
		width: 50%;
	}
	.main {
		padding: 2em 0 2em;
		text-align:center;
	}
	.blue {
		margin:0 0 0 2em;
		text-align: center;
	}
	.grid_box .zoom-icon {
		height: 144px;
	}
	.contact-data h2 {
		font-size: 16px;
	}
	.nav-bottom ul li {
		font-size: 1em;
		display: inline-block;
		padding: 0 .5em 1em;
	}
	.error-page p {
		font-size: 2.5em;
	}
	.error-page h3 {
		font-size: 6em;
	}
	a.go {
		font-size: 1.2em;
		padding: 0.5em 2em;
	}
	.error-page {
		padding: 50px 0px 0 0;
		min-height: 265px;
	}
	.login-left h3, .login-right h3 {
		font-size: 1em;
	}
	.login-left {
		padding: 0;
		margin: 0em 0 2em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1em;
	}
	.register-top-grid span, .register-bottom-grid span {
		font-size: 0.8125em;
	}
	.register-but form input[type="submit"] {
		font-size: 1em;
		padding: 0.5em 1.5em;
	}
	.login-left p, .login-right p {
		font-size: 0.9em;
	}
	.view.effect {
		padding: 0.5em 0;
	}
	.header-right {
		width: 26%;
	}
	.header-left {
		padding: 0.5em 0 0;
	}
	.head-nav ul li a {
		padding: 0.3em 0.3em;
	}
}
/*-- responsive-mediaquries --*/
@media(max-width:640px){
	.banner-info h1 {
		font-size: 1.5em;
	}
	.header-right {
		width: 28%;
	}
	.head-nav span.menu {
		top: 30px;
	}
	.about h4 {
		font-size: 1.5em;
	}
	.banner-info p {
		font-size: 0.9em;
	}
	.wmuSliderPrev {
		top: 13em;
	}
	.wmuSliderNext {
		top: 13em;
	}
	.banner-info {
		padding: 3em 0 4em;
		width: 100%;
	}
	.banner {
		min-height: 250px;
	}
	.curabitur h4 {
		font-size: 1.2em;
	}
	.curabitur p {
		font-size: 0.9em;
	}
	.welcome h2 {
		font-size: 1.7em;
	}
	.welcome p {
		font-size: 0.9em;
	}
	.vide h3 {
		font-size: 1.3em;
	}
	.vide h6 {
		font-size: 0.9em;
	}
	.vide p {
		font-size: 0.9em;
	}
	a.play-icon span {
		top: 8em;
		right: 20em;
	}
	.events h2 {
		font-size: 1.7em;
		margin-bottom: 1em;
	}
	.events-bottom {
		margin: 1.5em auto;
		width: 64%;
	}
	.events h5 {
		font-size: 1.5em;
	}
	.events span {
		font-size: 1em;
	}
	.footer h4 {
		font-size: 1.4em;
		padding: 0 0 16px;
	}
	.nav-bottom ul li {
		font-size: 1em;
	}
	.footer p {
		font-size: 0.9em;
	}
	.news h3 {
		font-size: 1.5em;
	}
	.grid_box .zoom-icon {
		height: 125px;
	}
	.error-page p {
		font-size: 2.2em;
	}
	.error-page h3 {
		font-size: 5em;
	}
	a.go {
		font-size: 1.1em;
		padding: 0.4em 2em;
	}
	.error-page {
		padding: 40px 0px 0 0;
		min-height: 240px;
	}
	.contact-data h2 {
		font-size: 15px;
	}
	.footer {
		padding: 3em 0 1em;
		text-align: center;
		background-color: #444444;
		background-size: cover;
	}
}
/*-- responsive-mediaquries --*/
@media(max-width:480px){
	.header-right {
		width: 42%;
	}
	.header-top {
		padding: 0.5em 0;
	}
	.head-nav ul {
		left: 1em;
		top: 4.5em;
	}
	.head-nav span.menu {
		top: 24px;
	}
	.about h4 {
		font-size: 1.4em;
	}
	.banner-info h1 {
		font-size: 1.3em;
	}
	.banner-info p {
		font-size: 0.8125em;
	}
	.banner-info {
		padding: 2em 0 3em;
		width: 100%;
	}
	.wmuSliderNext {
		top: 12em;
		right:5em;
	}
	.wmuSliderPrev {
		top: 12em;
		right:9em;
	}
	.banner {
		min-height: 220px;
	}
	.curabitur h4 {
		font-size: 1.1em;
	}
	.btn1 {
		padding: 0.4em 1.5em;
		font-size: 0.9em;
	}
	.welcome h2 {
		font-size: 1.5em;
	}
	.vide h3 {
		font-size: 1.2em;
	}
	.vide h6 {
		font-size: 0.9em;
		overflow: hidden;
		height: 14px;
	}
	.vide p {
		font-size: 0.9em;
		overflow: hidden;
		height: 66px;
	}
	a.play-icon span {
		top: 8em;
		right: 14em;
	}
	.events h2 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	.events-bottom {
		margin: 1.5em auto;
		width: 87%;
	}
	.events h5 {
		font-size: 1.3em;
	}
	.events span {
		font-size: 0.875em;
	}
	.footer h4 {
		font-size: 1.3em;
		padding: 0 0 16px;
	}
	.news h3 {
		font-size: 1.3em;
	}
	.news-grid-text h4 {
		font-size: 15px;
	}
	.news-grid p {
		font-size: 13px;
	}
	#portfoliolist .portfolio {
		width: 50%;
	}
	.main h2 {
		font-size: 1.5em;
	}
	.error-page p {
		font-size: 1.7em;
	}
	.error-page h3 {
		font-size: 4em;
	}
	a.go {
		font-size: 1em;
		padding: 0.4em 2em;
	}
	.error-page {
		padding: 30px 0px 0 0;
		min-height: 140px;
	}
	.left_form {
		float: none;
		width: 100%;
	}
	.right_form {
		float: none;
		width: 100%;
	}
	.company_address {
		float: none;
		width: 100%;
	}
	.contact_info {
		float: none;
		width: 100%;
		margin-left: 0%;
	}
	.login-left h3, .login-right h3 {
		font-size: 0.9em;
	}
	.acount-btn {
		font-size: 0.9em;
		padding: 0.5em 1.2em;
	}
	.login-left p, .login-right p {
		font-size: 0.8125em;
	}
	.login-page {
		padding: 2em 0;
	}
	.register-but form input[type="submit"] {
		font-size: 0.9em;
		padding: 0.5em 1.5em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 0.9em;
	}
	.register {
		padding: 2em 0 1em 0;
	}
	.footer {
		padding: 3em 0 1em;
		text-align: center;
		background-color: #444444;
		background-size: cover;
	}

	.multiselect {
		width: 200px;
	}
	.selectBox {
		position: relative;
	}
	.selectBox select {
		width: 100%;
		font-weight: bold;
	}
	.overSelect {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
	}
	#checkboxes {
		display: none;
		border: 1px #dadada solid;
	}
	#checkboxes label {
		display: block;
	}
	#checkboxes label:hover {
		background-color: #1e90ff;
	}
}